name: Build and Deploy Jekyll site

on:
  push:
    branches: ["main"]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      # Checkout repo
      - uses: actions/checkout@v4

      # Set up Ruby and Bundler
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.1
          bundler-cache: true

      # Build the site
      - run: bundle exec jekyll build

      # Configure GitHub Pages
      - uses: actions/configure-pages@v5
        id: pages

      # Upload site for deployment
      - uses: actions/upload-pages-artifact@v4
        with:
          path: _site

      # Deploy to GitHub Pages
      - uses: actions/deploy-pages@v1
