name: Build and Deploy Jekyll site

on:
  push:
    branches: ["main"]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.1
          bundler-cache: true
          bundler-version: 2.4.20  # match your local bundler

      - run: bundle exec jekyll build

      - uses: actions/configure-pages@v5
        id: pages

      - uses: actions/upload-pages-artifact@v4
        with:
          path: _site

      - uses: actions/deploy-pages@v1
