name: Build & Deploy Jekyll site

on:
  push:
    branches: ["main"]

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:

  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Extract Ruby version from Gemfile.lock
        id: ruby_version
        run: |
          if [ -f Gemfile.lock ]; then
            RV=$(grep -A 1 "RUBY VERSION" Gemfile.lock | tail -n 1 | sed 's/.* //')
            echo "ruby_version=$RV" >> $GITHUB_OUTPUT
          else
            echo "ruby_version=3.1" >> $GITHUB_OUTPUT
          fi
      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ steps.ruby_version.outputs.ruby_version }}
          bundler-cache: true

      - name: Install dependencies
        run: bundle install

      - name: Setup Pages
        id: pages
        uses: actions/configure-pages@v5

      - name: Build site
        run: bundle exec jekyll build --trace
        env:
          JEKYLL_ENV: production

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3

  deploy:
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deploy.outputs.page_url }}
    steps:
      - name: Deploy
        id: deploy
        uses: actions/deploy-pages@v4
